<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="5 seconds">
    <property name="default_pattern" value="%d{HH:mm:ss.SSS}:[%thread]:%-5level:%X{MessageID}:%logger{36}:%L:%msg%n"/>
    <property name="custom_pattern" value="%d{HH:mm:ss.SSS}:[%X{BCUID}]:%-5level:%X{MessageID}:%logger{36}:%L:%msg%n"/>

    <!-- Console -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${custom_pattern}</pattern>
        </encoder>
    </appender>

    <!--系统日志 DEBUG级别日志 -->
    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>./logs/app-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <maxFileSize>256MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${default_pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- TransIo -->
    <appender name="transio" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/transio.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>./logs/transio-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <maxFileSize>256MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${custom_pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    
      <!-- Scheduler -->
    <appender name="ddc" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/ddc.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>./logs/ddc-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <maxFileSize>256MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${custom_pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- P2P -->
    <appender name="pzp" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/pzp.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>./logs/pzp-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <maxFileSize>256MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${custom_pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- vrfblk -->
    <appender name="vrfblk" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/vrfblk.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>./logs/vrfblk-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <maxFileSize>256MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${custom_pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
  <!-- EVFS -->
    <appender name="evfs" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/evfs.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>./logs/evfs-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <maxFileSize>256MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${custom_pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <!-- Root -->
    <root level="error">
        <appender-ref ref="RollingFile"/>
    </root>

    <!-- vrfblk -->
    
    <logger name="org.brewchain.vrfblk" level="info" additivity="false">
        <appender-ref ref="vrfblk"/>
    </logger>
    <logger name="org.brewchain.dposblk" level="error" additivity="false">
        <appender-ref ref="dposblk"/>
    </logger>
    
     <logger name="org.fc.zippo.scheduler" level="info" additivity="false">
        <appender-ref ref="ddc"/>
    </logger>

    <!-- Third package -->
    <logger name="org.eclipse.jetty" level="error"/>
    <logger name="org.apache" level="error"/>
    <logger name="org.apache.commons.httpclient" level="error"/>
    <logger name="httpclient.wire" level="error"/>
    <logger name="httpclient.wire.content" level="error"/>
    <logger name="mousio.etcd4j.transport" level="error"/>
    <logger name="com.github.mauricio.async,io.netty" level="error"/>
    <logger name="com.datastax.driver.core" level="error"/>
    <logger name="net.sf.ehcache" level="error"/>
    <logger name="com.lambdaworks.redis.protocol" level="error"/>
    <logger name="org.ehcache" level="error"/>

    <!-- Custom package -->
    <logger name="onight.tfw.orouter.impl.QueueConsumer" level="error"/>
    <logger name="onight.zippo.oparam.etcd" level="error"/>
    <logger name="onight.tfw.ntrans.osgi" level="error"/>
    <logger name="onight.tfw.servlet" level="error"/>
    <logger name="onight.tfw.ojpa" level="error"/>
    <logger name="org.brewchain.p22p.action.PZPHeatBeatService" level="info"/>
    <logger name="onight.osgi.otransio.impl.ModuleDiscovery" level="error"/>

   <logger name="org.brewchain.evfs" level="debug" additivity="false">
        <appender-ref ref="evfs"/>
    </logger>
    <!-- P2P -->
    <logger name="org.brewchain.p22p" level="debug" additivity="false">
        <appender-ref ref="pzp"/>
    </logger>
    <logger name="io.lettuce" level="error" additivity="false">
        <appender-ref ref="redis"/>
    </logger>
    <!-- TransIo -->
    <logger name="onight.osgi.otransio" level="debug" additivity="false">
        <appender-ref ref="transio"/>
    </logger>
</configuration>

